body {
    font-family: "Open Sans", sans-serif;
    background-color: linen;
    color: #747704;
    font-weight: 300;
    padding-top: 20px;
}


.chrome-logo {
    margin-top: 20px;
    height: 100px;
    width: 100px; 
}

.square {
    border-radius: 85%;
}

.hr-rule {
    padding-bottom: 20px;
    border-bottom: 2px solid #bcbbbb;
}

#center {
    padding-top: 20px;
}

.bio {
    font-weight: 600;
    font-size: 24px;
    color: #bcbbbb;
    margin-top: 20px;
    text-align: left;
    font-family: "Source Serif Pro", serif;
}

/* affects header text*/
.text-thin {
    font-weight: 300;
}

.title-super {
    font-size: 40px;
}

/* bolds text, changes color, affects bio text*/
.text-muted {
    font-weight: 700;
    color: darkslategrey;
    padding-bottom: 10px;
}


.anchor img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.image {
    max-width: 100%;
}

@media screen and (max-width: 500px) {
    body {background-color: cornflowerblue;}
}

@media screen and (max-width: 650px) {
    .title-super { font-size: 30px; }
}


/* bio text responds to different sizes */
@media screen and (max-width: 1199px) {
    .bio { font-size: 19px; }
}

@media screen and (max-width: 989px) {
    .bio { font-size: 14px; }
}

@media screen and (min-width: 100px) and (max-width: 650px) {
    .bio { font-size: 24px; }
}
